<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="footer">
				<div id="footer-top"></div>
				<div class="footer-content">
					<h2> Nice footer ya got there..</h2>
					<p>
					Eos deleniti moderatius ea. Dolorem definiebas usu cu, quot case detracto mei in. Eum tollit eripuit voluptatibus ea, hinc choro omnesque eam cu mel te timeam
					Eos deleniti moderatius ea. Dolorem definiebas usu cu, quot case detracto mei in. Eum tollit eripuit voluptatibus ea, hinc choro omnesque eam cu mel te timeam
					Eos deleniti moderatius ea. Dolorem definiebas usu cu, quot case detracto mei in. Eum tollit eripuit voluptatibus ea, hinc choro omnesque eam cu mel te timeam
					Eos deleniti moderatius ea. Dolorem definiebas usu cu, quot case detracto mei in. Eum tollit eripuit voluptatibus ea, hinc choro omnesque eam cu mel te timeam
					</p>
				</div>
			</div>
		</div>
	<div class="row">
</div>