<div class="menu" ng-controller="HeaderController">
  <div class="container">
    <div class="row vertical-align">
       <div class="col-xs-2">
        <img class="img-responsive" src="app/images/logo.png">
      </div>
      <div class="col-xs-10 pull-right" ng-show="LoginSession.isLoggedIn()">
        <div class="btn-group" uib-dropdown is-open="status.isopen">
          <button id="menu-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
            <span class="glyphicon glyphicon-user" /> {{voornaam}} {{achternaam}}
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="menu-button">
            <li role="menuitem"><a href="#/">Home</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="#/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
