/* Reset CSS */
a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd,
keygen,
label, legend,
meter,
nav,
object, output,
p, pre, progress,
q,
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u,
var{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
    vertical-align: top; }

blockquote, q {
	quotes: none;
}
table, table td {
	padding:0;
	border:none;
	border-collapse:collapse;
}
img {
	vertical-align:top;
}
embed {
	vertical-align:top;
}
* { border:none}
/* Bootstrap / Angular fix for empty hrefs */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/* Background */
body {
  font: 14px;
  font-weight: 300;
  font-family: "Open Sans", Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0;
	color: #FFF;

  /* Background */
  background: url(../images/bg4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /*background-color: #D8D7D7;*/

  /*background: #171717 url(../images/bg4.jpg) repeat top center;*/
}
/* Standard text */
p {
	line-height:150%!important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
/* Bootstrap component changes */
.alert {
	margin-bottom: 0px;
}
/* Reset standard column padding */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9  {
	padding-left: 0px;
	padding-right: 0px;
}
/* Main */
.mainbody-section {
  padding-top: 3%;
}
/* Menu */
.menu {
  background: #F0701D url(../images/header.jpg) repeat top center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 12px 40px 0 rgba(0, 0, 0, 0.6);
  border-bottom: solid #F2763D 1px;
}
/* Tiles */
.tile {
  color: #fff;
  padding-top: 55px;
  padding-bottom: 55px;
  margin-bottom: 5px;
  margin-right: 5px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
  border: 5px solid transparent;
}
/* Tile style */
.tile:hover{
  border: 5px solid rgba(255, 255, 255, 0.70);
}
.tile:hover a {
  text-decoration: none;
}
.tile a {
  color: #fff;
  display: block;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.tile a p {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-weight: 100;
  font-size: 13px;
  position: absolute;
  bottom: .500rem;
  left: .500rem;
  padding-bottom: 5px;
}
.tile a span {
  font-size: 50px;
  padding-bottom: 0px;
}
/* Screen sizes */
/* Extra Small */
@media (max-width : 480px) {
  .tile {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid transparent;
  }
  .tile:hover{
    border: 2px solid rgba(255, 255, 255, 0.70);
  }
  .tile a span {
    font-size: 14px;
  }
  .tile a p {
    font-size: 7px;
    position: absolute;
    bottom: .300rem;
    left: .300rem;
    padding-bottom: 5px;
  }
  .menu {
    font-size: 20px;
    padding-left: 10px;
  }
}
/* Small */
@media (min-width : 480px) and (max-width : 768px) {
  .tile {
    padding-top: 35px;
    padding-bottom: 35px;
    border: 3px solid transparent;
  }
  .tile:hover{
    border: 3px solid rgba(255, 255, 255, 0.70);
  }
  .tile a span {
    font-size: 20px;
  }
  .tile a p {
    font-size: 11px;
    position: absolute;
    bottom: .400rem;
    left: .500rem;
    padding-bottom: 5px;
  }
  .menu {
    font-size: 25px;
    padding-left: 15px;
  }
}
/* Medium */
@media (min-width : 768px) and (max-width : 991px) {
  .tile {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .tile a span {
    font-size: 32px;
  }
  .menu {
    font-size: 30px;
  }
}
/* large */
@media (min-width : 992px) and (max-width : 1199px) {
  .tile a span {
    font-size: 32px;
  }
  .menu {
    font-size: 35px;
  }
}
/* Extra large */
@media (min-width : 1200px) {

}
/* Tile colors */
.color-red {
  background: #B0232B;
}
.color-green {
  background: #00A200;
}
.color-blue {
  background: #003B96;
}
.color-purple {
  background: #A300AB;
}
.color-lightblue {
  background: #009BAD;
}
.color-yellow {
  background: #F9BE3E;
}
