<div class="container" style="padding-top: 30px;">
  <div class= "thumbnail form-style">
    <form name="WedstrijdForm" class=" form-horizontal" ng-submit="WedstrijdForm.$valid && submit()">

      <div class="row">
        <center><h2> Wedstrijd aanmaken </h2></center>
      </div>
      <div class="col-xs-offset-1 col-xs-10">
        <span class="error-msg" ng-show="error">
          <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span> {{error}}
          </div>
        </span>
      </div>
      <div class="col-xs-11">
        <div class="row vertical-align">
          <div class="hidden-xs col col-xs-3">
            <p>Wedstrijd ID:</p>
          </div>
          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <input type="text" class="form-control" ng-model="formData.wedstrijd_id" maxlength="50" placeholder="Wedstrijd_id" required>
          </div>
        </div>

        <div class="row vertical-align">
          <div class="hidden-xs col col-xs-3">
            <p>Subtoernooi ID:</p>
          </div>
          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <input type="text" class="form-control" ng-model="formData.subtoernooi_id" maxlength="50" placeholder="subtoernooi id" required>
          </div>
        </div>

        <div class="row vertical-align">
          <div class="hidden-xs col col-xs-3">
            <p>Toernooi ID:</p>
          </div>
          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <input type="text" class="form-control" ng-model="formData.toernooi_id" maxlength="50" placeholder="toernooi id" required>
          </div>
        </div>

        <div class="row vertical-align">
          <div class="hidden-xs col col-xs-3">
            <p>Team 1:</p>
          </div>
          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <input type="text" class="form-control" ng-model="formData.team1" maxlength="50" placeholder="team 1 nummer" required>
          </div>
        </div>

        <div class="row vertical-align">
          <div class="hidden-xs col col-xs-3">
            <p>Team 2:</p>
          </div>
          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <input type="text" class="form-control" ng-model="formData.team2" maxlength="50" placeholder="team 2 nummer" required>
          </div>
        </div>

        <div class="row vertical-align">
          <div class="hidden-xs col col-xs-3">
            <p>Scheidsrechter:</p>
          </div>
          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <input type="text" class="form-control" ng-model="formData.scheidsrechter" maxlength="50" placeholder="scheidsrechter" required>
          </div>
        </div>

        <div class="row vertical-align">
          <div class="hidden-xs col col-xs-3">
            <p>Start datum:</p>
          </div>
          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <input type="date" class="form-control" ng-model="formData.start_datum"  required>
          </div>
        </div>

        <div class="row vertical-align">
          <div class="hidden-xs col col-xs-3">
            <p>Poulecode:</p>
          </div>
          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <input type="text" class="form-control" ng-model="formData.poulecode" maxlength="100" placeholder="poulecode" required>
          </div>
        </div>

        <div class="row col-xs-offset-1">
          <button class="btn btn-primary pull-right"  type="submit"> Submit </button>
        </div>
      </div>
      <br>
      <div class="row"></div>
    </form>
  </div>
</div>
