<div class="container" style="padding-top: 30px;">
  <div class= "thumbnail form-style">
    <div class="row">
      <center><h2> Aanmelden </h2></center>
    </div>
    <div class="col-xs-11">

      <div ng-include src="'app/partials/Toernooi/Frontend/views/read_toernooi.html'"></div>

      <div class="row">
        <div class="col-xs-offset-1 col-xs-11">
          <button type="button" class="btn btn-primary" ng-click=""> Submit </button>
        </div>
      </div>

      <p> Selection: {{current_selection()}}</p>

    </div>
    <div class="row"></div>
  </div>
</div>
