<div class="container" style="padding-top: 30px;">
  <div class= "thumbnail form-style">
    <div class="row">
      <center><h2> Aanmelden </h2></center>
    </div>
    <div class="col-xs-11">

      <div ng-include src="'app/partials/Toernooi/Frontend/views/read_toernooi.html'"></div>
      <br>
      <form name="AanmeldenForm" class="form-horizontal" ng-submit="AanmeldenForm.$valid && submit()" ng-show="showSubForm">
        <div class="row vertical-align">
          <div class="hidden-xs col col-xs-3">
            <p>Team naam: </p>
          </div>
          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <input type="text" class="form-control" ng-model="subFormData.team_naam" maxlenght="75" placeholder="Team naam" required>
          </div>
        </div>

        <div class="row col-xs-offset-4 colx-xs-7">
          <span class="error-msg" ng-show="persoon_error">
            <div class="alert alert-danger">
              <span class="glyphicon glyphicon-exclamation-sign"></span> {{persoon_error}}
            </div>
          </span>
        </div>

        <div class="row vertical-align">
          <div class="hidden-xs col col-xs-3">
            <p>Partner: </p>
          </div>
          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <input type="text" class="form-control" ng-model="subFormData.partner" maxlenght="75" placeholder="Partner" required>
          </div>
        </div>
        <br>
        <div class="row pull-right">
          <button class="btn btn-primary" type="submit"> Submit </button>
        </div>
      </form>

    </div>
    <div class="row"></div>
  </div>
</div>
