<div class="menu">
	<div class="container">
		<div class="row">
			<div class="col-xs-2">
				<img class="img-responsive" src="app/images/logo.png">
			</div>
		</div>
	</div>
</div>
<section class="container mainbody-section animated fadeInLeft">
	<div class="row">
		<div class="col-xs-4">
      <div class="col-xs-6">
        <div class="tile color-red">
  				<a href="#service-modal">
            <div class="text-center">
              <span class="glyphicon glyphicon-th" />
            </div>
  					<p> Menu </p>
  				</a>
  			</div>
      </div>
      <div class="col-xs-6">
        <div class="tile color-blue">
          <a href="#service-modal">
            <div class="text-center">
              <span class="glyphicon glyphicon-home" />
            </div>
            <p> Home </p>
          </a>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="tile color-yellow">
  				<a href="#service-modal">
            <div class="text-center">
              <span class="glyphicon glyphicon-ok" />
            </div>
  					<p> Akkoord </p>
  				</a>
  			</div>
      </div>
      <div class="col-xs-6">
        <div class="tile color-green">
          <a href="#service-modal">
            <div class="text-center">
              <span class="glyphicon glyphicon-remove" />
            </div>
            <p> Kruis </p>
          </a>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="tile color-lightblue">
  				<a href="#service-modal">
            <div class="text-center">
              <span class="glyphicon glyphicon-trash" />
            </div>
  					<p> Verwijder </p>
  				</a>
  			</div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="col-xs-12 ">
        <div class="tile color-purple">
          <a href="#service-modal">
            <div class="text-center">
              <span class="glyphicon glyphicon-search" />
            </div>
            <p> Zoeken </p>
          </a>
        </div>
      </div>
      <div class="col-xs-12 ">
        <div class="tile color-red">
          <a href="#service-modal">
            <div class="text-center">
              <span class="glyphicon glyphicon-repeat" />
            </div>
            <p> Opnieuw </p>
          </a>
        </div>
      </div>
      <div class="col-xs-12 ">
        <div class="tile color-yellow">
          <a href="#service-modal">
            <div class="text-center">
              <span class="glyphicon glyphicon-check" />
            </div>
            <p> Check </p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="col-xs-12 ">
        <div class="tile color-lightblue">
          <a href="#service-modal">
            <div class="text-center">
              <span class="glyphicon glyphicon-shopping-cart" />
            </div>
            <p> Winkelwagen </p>
          </a>
        </div>
      </div>
      <div class="col-xs-12 ">
        <div class="tile color-green">
          <a href="#service-modal">
            <div class="text-center">
              <span class="glyphicon glyphicon-globe" />
            </div>
            <p> Wereld </p>
          </a>
        </div>
      </div>
      <div class="col-xs-12 ">
        <div class="tile color-purple">
          <a href="#service-modal">
            <div class="text-center">
              <span class="glyphicon glyphicon-duplicate" />
            </div>
            <p> Duplicate </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
