<div class="container" style="padding-top: 30px;">
  <div class= "thumbnail form-style">
    <form name="SubToernooiForm" class="form-horizontal" ng-submit="SubToernooiForm.$valid && submit()">

      <div class="row">
        <center><h2> Sub Toernooi aanmaken </h2></center>
      </div>

      <div class="col-sm-8 col-xs-11">
        <div class="row vertical-align">
          <div class="hidden-xs col col-xs-3">
            <p>Categorienaam:</p>
          </div>
          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <select class="form-control" ng-model="formData.categorie_naam" ng-options="c for c in categorie"></select>
          </div>
        </div>

        <div class="row vertical-align">
          <div class="hidden-xs col col-xs-3">
            <p>Geslacht:</p>
          </div>
          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <select class="form-control" ng-model="formData.geslacht" ng-options="g.name for g in current_selection.geslacht"></select>
          </div>
        </div>

        <div class="row vertical-align">
          <div class="hidden-xs col col-xs-3">
            <p>Enkel:</p>
          </div>
          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <select class="form-control" ng-model="formData.enkel" ng-options="g.name for g in current_selection.enkel"></select>
          </div>
        </div>

        <div class="row vertical-align" ng-if="toernooitype=='Prestatie'">
          <div class="hidden-xs col-xs-3">
            <p> Licenties: </p>
          </div>

          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <ui-select multiple ng-model="formData.licenties" theme="bootstrap" sortable="false" close-on-select="false">
              <ui-select-match placeholder="Selecteer licenties">{{$item}}</ui-select-match>
              <ui-select-choices repeat="licentie in select_licenties">
                <div>{{licentie}}</div>
              </ui-select-choices>
            </ui-select>
          </div>

        </div>

        <div class="row">
          <button class="btn btn-primary pull-right" type="submit"> Submit </button>
        </div>
      </div>

      <div class="row"></div>

    </form>
  </div>
</div>
