<div ng-controller="ToernooiOverzichtController">
  <div class="container read-toernooi-form" style="padding-top: 30px;">
    <div class= "thumbnail form-style">
      <form name="indelenToernooiForm" class=" form-horizontal" ng-submit="indelenToernooiForm.$valid && submit()">
      <div class="row">
        <center><h2> Toernooi indelen </h2></center>
      </div>
      <div class="col-xs-11">
        <div class="row vertical-align">
          <div class="hidden-xs col col-xs-3">
            <p>Aantal poules:</p>
          </div>
          <div class="col-xs-offset-1 col-sm-8 col-xs-11">
            <input type="text" class="form-control" ng-model="formData.aantal_poules" placeholder="Aantal poules" required>
          </div>
        </div>
        <div class="row col-xs-offset-1">
          <button class="btn btn-primary pull-right"  type="submit"> Toernooi indelen </button>
        </div>
      </div>
      <div class="row"></div>
    </form>
    </div>
  </div>

</div>
